<!-- Begin footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">
    	Built with 
    	<a href="https://nodejs.org/en/" target="_blank">Node.js</a>/
    	<a href="http://expressjs.com/" target="_blank">Express</a> and 
    	<a href="https://jquery.com/" target="_blank">jQuery</a> by 
    	<a href="https://www.facebook.com/meletis.flevarakis" target="_blank">this guy</a>. Source on 
    	<a href="https://github.com/meletisf/LMSTFY" target="_blank">github</a>. 
    	Version 0.9.5
    </p>
  </div>
</footer>
<!-- End footer -->