<!DOCTYPE html>
<html>
	<heade>
		<title>Άσεμε να το skroutzάρω για εσένα!</title>
		<meta property="og:title" content="Άσεμε να το skroutzάρω για εσένα!" />
		<meta property="og:type" content="website" />
		<link rel="stylesheet" href="assets/css/main.css">		
		<link rel="stylesheet" href="https://www.skroutz.gr/assets/application/helmet_base-ccbc9bd12d052fa31de004eaf5e00074.css">
		<link rel="stylesheet" href="https://www.skroutz.gr/assets/application/helmet-ed0c0bf66cf85c71fcef79f345945ff7.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="icon" type="image/png" sizes="192x192" href="https://www.skroutz.gr/touch-icon-192x192.png">
  		<link rel="icon" type="image/png" sizes="32x32" href="https://www.skroutz.gr/touch-icon-32x32.png">
	</heade>
	<body>

		{{{body}}}

		{{>footer}}
		
	</body>
	{{>javascript}}
</html>