<!DOCTYPE html>
<html>
	<heade>
		<title>Άσεμε να το skroutzάρω για εσένα!</title>
		<meta property="og:title" content="Άσεμε να το skroutzάρω για εσένα!" />
		<meta property="og:type" content="website" />
		<link rel="stylesheet" href="assets/css/main.css">
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="assets/js/typed.js"></script>
		<script src="assets/js/main.js"></script>		
		<link rel="stylesheet" href="https://www.skroutz.gr/assets/application/helmet_base-ccbc9bd12d052fa31de004eaf5e00074.css">
		<link rel="stylesheet" href="https://www.skroutz.gr/assets/application/helmet-ed0c0bf66cf85c71fcef79f345945ff7.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</heade>
	<body>
		{{{body}}}
	</body>
</html>