<img id="pointer" src="assets/img/pointer.png" style="display:none;"/>



<div id="header">
  
  <h3>Άσεμε να το skroutzάρω για εσένα!</h3>
  
  <div class="content cf">
    <h1>
      <a id="index_link" title="Let Me Skroutz That For You" href="/">Skroutz.gr</a>
      <span class="home">lmstfy</span>
    </h1>

    <form name="lmstfy_form" onsubmit="magic(); return false;">
      <p class="">
        <input type="search" name="keyphrase" id="search_bar_input" value="" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="γράψε τον όρο αναζήτησης και πάτα το κουμπί">
        <button class="btn-orange btn-big" id="sub_btn" value="submit">Αναζήτηση</button>
      </p>
    </form>

  </div>

</div>
<div class="container">
  <div class="lmstfy">
    
    <div class="well well-sm" id="troll_well" style="display:none;">
      <div class="alert alert-info" role="alert" id="troll_alert">
          <strong>Άσεμε να το skroutzάρω για εσένα και δες πόσο έυκολο είναι!</strong>
      </div>
    </div>
    
    <div class="well well-lg" id="well" style="display: none;">
      
      <div class="alert alert-success" role="alert">
        <strong>Άσεμε να το skroutzάρω για εσένα!</strong><br>
        Κάνε share το παρακάτω λινκ.
      </div>
      
      <label for="lmstfy_link">Το λινκ σου:</label>
      <input id="lmstfy_link" name="lmstfy_link" type="text" class="form-control">
      <label><a onclick="">Miκρυνε  το</a></label>
    
    </div>
    
    <div class="well well-lg" id="intro_well">
      Γράψε αυτό που θες στο κουτάκι από πάνω και κάνε κλικ στο κουμπί για να λάβεις τον σύνδεσμο σου.
    </div>
    
  </div>
  
</div>